<header class="row">
  <!-- logo -->
  <div id="contLogo">
    <img src="img/580b57fcd9996e24bc43c52e.png" alt="logo" id="logo">
  </div>
  <!-- barra de busqueda -->
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon2">
        <i class="fa fa-search"></i>
      </div>
    </div>
    <input class="form-control py-2 border-right-0 border" id="inputSearch" type="search" placeholder="Buscar">
  </div>
  <!-- botones de texto -->
  <button id="btnInicio">
    <p id="textInicio">Inicio</p>
  </button>
  <button id="btnSiguiendo">
    <p id="textSiguiendo">Siguiendo</p>
  </button>
  <button id="btnExplorar">
    <p id="textExplorar">Explorar</p>
  </button>
  <button id="btnUser">
    <img src="img/fotoparapinterest.png" id="photoUser" alt="photoUser">
    <p id="nameUser">Cami</p>
  </button>
  <button id="btnMsg">
    <i class="fas fa-comment"></i>
  </button>
  <button id="btnNotif">
    <i class="fas fa-bell"></i>
  </button>
  <button id="btnMore">
    <p id="points">•••</p>
  </button>
</header>
